Base
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #ffffff;
}

button.btn.btn-gray {
  font-size: 1em;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(192, 192, 192);
}
/* modules*/
.choice {
  padding: 0em 0.5em;
}

.site-footer {
  margin-top: 5vh;
}
.site-footer div {
  padding: 0em 1em
}

#geneForm  {
  margin: 2em 0em 0em 0em;
}


/* bootstrap */

.col-lg-6 {
  padding-left: 0px;
}
/* IMAGES */

.logo {
  width: 50vw;
  max-width: 500px;
  margin: 5vh 5vw;
}

#imgGene {
  width: 100%;
}

#img1, #img2  {
  height: 15em
}


/* Layout Styles */

.page-layout {
  margin: 0em auto;
  width: 90vw;
  max-width: 1100px;
  height: 100%;
  display: grid;
  grid-template-areas: "choice choice" "zscore  boot" "form  form" "plot plot" "footer footer";
  grid-template-rows: 1fr 2fr 1fr 3fr 1fr;
  grid-template-columns: 1fr 5fr;
}

.flexed {
  display: flex;
  flex-direction: row;
}

.bottom {
  display: flex;
  align-items: flex-end;
}

.scrollable {
  margin: 1em;
  overflow-x: auto;
  width: 100%;
  max-width: 70vw;
  height: 17em

}

.container {
  display: flex;
  padding: 0px 0px 0px 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Grid areas */
#input-group {
  grid-area: choice;
}

#zscore {
  grid-area: zscore;
}

#bootstrap {
  grid-area: boot;
}

#geneForm {
  grid-area: form;
}

#mainGraph {
  grid-area: plot;
}

.site-footer {
  grid-area: footer;
}


/* media queries */

/* ----------------------------------------------------------*/

@media screen and (min-width: 900px) {
  #mainGraph {
    margin: 0 5vw;
  }

  .choice:nth-of-type(1) {
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }
  .flexed {
    flex-direction: column;
  }
  .page-layout {
    grid-template-areas: "choice zscore" "boot boot" "form  form" "plot plot" "footer footer";
    grid-template-rows: 2fr 2fr 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  #img1 {
    height: inherit;
    width: 30vw;
  }

  .scrollable {
    max-width: 80vw;
  }

  #fetch-btn {
    margin-top: 0.7em;
  }

  .choice > label {
    margin: 0.7em 0em 0em 0em;
  }
}